services:
  db:
    image: mysql:8
    container_name: astrolatam-db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: astrolatam
      MYSQL_USER: astrolatam
      MYSQL_PASSWORD: astrolatam
    ports:
      - "3307:3306"
    healthcheck:
      test: ["CMD", "mysqladmin" , "ping", "-h", "localhost"]
      interval: 5s
      timeout: 3s
      retries: 10
    volumes:
      - db_data:/var/lib/mysql

  redis:
    image: redis:7
    container_name: astrolatam-redis
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 20

  api:
    build: .
    container_name: astrolatam-api
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy

volumes:
  db_data: